<div class="div">
<h3>Criar novo cadastro</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input placeholder="Título" type="text" class="form-control" size="20" id="title" required [(ngModel)]="enterprise.title" name="title">
    </div>
   
    <div class="form-group">
      <input placeholder="Empresa" type="text" class="form-control" id="enterprise" required [(ngModel)]="enterprise.enterprise" name="enterprise">
    </div>

    <div class="form-group">
      <input placeholder="Local" type="text" class="form-control" id="locale" required [(ngModel)]="enterprise.locale" name="locale">
    </div>

    <div class="form-group">
      <input placeholder="Descrição" type="text" class="form-control" id="locale" required [(ngModel)]="enterprise.description" name="description">
    </div>
 
    <button type="submit" class="btn btn-success">Salvar</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Empresa salva com sucesso!</h4>
  <button class="btn btn-success" (click)="newEnterprise()">Adicionar</button>
</div>
</div>