<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetoReclameApp.enterprise.home.title">Enterprises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enterprise" [routerLink]="['/enterprise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projetoReclameApp.enterprise.home.createLabel">
            Create new Enterprise
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="enterprises">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="projetoReclameApp.enterprise.title">Title</span></th>
            <th><span jhiTranslate="projetoReclameApp.enterprise.locale">Locale</span></th>
            <th><span jhiTranslate="projetoReclameApp.enterprise.company">Company</span></th>
            <th><span jhiTranslate="projetoReclameApp.enterprise.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enterprise of enterprises ;trackBy: trackId">
                <td><a [routerLink]="['/enterprise', enterprise.id, 'view' ]">{{enterprise.id}}</a></td>
                <td>{{enterprise.title}}</td>
                <td>{{enterprise.locale}}</td>
                <td>{{enterprise.company}}</td>
                <td>{{enterprise.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/enterprise', enterprise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enterprise', enterprise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enterprise/'+ enterprise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
